.@{prefix}-view.@{prefix}-view-dashboard {
    display: flex;
    flex-direction: column;
    padding: 0;

    .@{prefix}-tabs {
        // flex: 1;
    }

    .@{prefix}-tab-content {
        flex: 1;
        padding: @padding-lg 0 0 0;
        overflow: hidden;
        background: var(--gray-color-2);

        &__empty {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100vh - 56px - 60px);
        }
    }

    .@{prefix}-tabpanel {
        width: 100%;
        height: 100%;
    }
}

.dashboard {
    position: relative;

    &-fullscreen {
        padding: 5px;
        line-height: 0;
        border: 1px solid var(--primary-color-5);
        border-radius: @border-radius-base;
        cursor: pointer;

        &:hover {
            background: var(--primary-color-1);
            border: 1px solid var(--primary-color-7);
        }

        &-icon {
            font-size: 24px !important;
            line-height: 0;
            color: var(--primary-color-6);
        }
    }

    &-add {
        display: inline-block;
        line-height: 1;
        background: var(--component-background);
        cursor: pointer;

        &:hover &-icon {
            color: var(--primary-color-6);
        }

        &-icon {
            font-size: @font-size-xxl;
        }

        &-contain {
            flex: 1;
            height: 100%;
            padding: 18px 20px 0 0;
            color: var(--text-color-secondary);
        }
    }

    &-toolbar {
        display: flex;
        min-height: 0 !important;
        padding: 0 !important;
        background: #fff;
    }

    &-widget-grid-edit {
        .react-resizable-handle {
            display: none;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &-main {
            position: relative;
            flex: 1;
            width: 100%;
            overflow: hidden scroll;
            background: var(--gray-color-2);

            & > div {
                height: 100%;
            }

            .drag {
                position: relative;
            }
        }

        &-operate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 @padding-xxl 0 @padding-md;

            .home-dashboard {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: @padding-xs;
                font-size: @font-size-5;
                background: var(--component-background);
                border: 1px solid var(--gray-3);
                border-radius: @border-radius-base;
                cursor: pointer;

                &.active {
                    color: var(--primary-color-base);
                }

                &:hover {
                    color: var(--primary-color-base);
                    border-color: var(--primary-color-base);
                }
            }
        }

        &-empty {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            padding: @padding-xxl @padding-md 0;
            overflow-y: auto;

            &-title {
                font-size: @font-size-5;
                .line-height(@font-size-5);
            }

            &-description {
                margin: @margin-md 0 @margin-md;
                color: var(--gray-color-5);
            }
        }

        &-widget {
            height: 100%;
            overflow: hidden;
            background: var(--main-background);
            border-radius: @border-radius-md;

            &.none-user-select {
                user-select: none;
            }

            &-main {
                display: flex;
                width: 100%;
                height: 100%;
            }

            &-icon {
                position: absolute;
                top: @margin-sm;
                right: @margin-sm;
                z-index: 2;
                display: none;

                &-img {
                    display: inline-block;
                    padding: @padding-xxs;
                    margin-left: @margin-xs;
                    line-height: 0;
                    color: rgba(0, 0, 0, 0.54);
                    background-color: var(--white);
                    border: @border-base;
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        background: var(--gray-color-3);
                    }
                }

                &-dark &-img {
                    color: var(--white);
                }
            }

            &:hover &-icon-edit {
                display: block;
            }
        }
    }

    &-custom-resizable-handle {
        position: absolute;
        right: -6px;
        bottom: -4px;
        z-index: 10;
        display: none;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        overflow: hidden;
        background: var(--primary-color-base);
        border: 2px solid var(--primary-color-base);
        border-radius: 50%;
        cursor: nwse-resize;
    }

    &-content-widget-grid-edit {
        .react-grid-item {
            cursor: grab;

            &.react-draggable-dragging {
                cursor: grabbing;
            }

            &.resizing {
                cursor: nwse-resize;
            }

            &::before {
                position: absolute;
                inset: -1px;
                border: 2px solid transparent;
                border-radius: @border-radius-md;
                pointer-events: none;
                content: '';
                transition: all 0.3s ease;
            }

            &:hover,
            &:active {
                &::before {
                    border-color: var(--primary-color-base);
                }

                &.react-grid-placeholder {
                    &::before {
                        border-color: transparent;
                    }
                }

                .dashboard-custom-resizable-handle {
                    display: block;
                }
            }
        }
    }

    &-content-widget-grid-not-edit {
        .dashboard-custom-resizable-handle {
            display: none;
        }
    }

    .react-resizable-handle {
        display: none !important;
    }

    &-confirm-delete-icon {
        color: var(--orange-6);
    }
}

.bg-custom-scrollbar::-webkit-scrollbar {
    position: absolute;
    inset: 0;
    width: 11px;
    height: 12px;
}

.bg-custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
}

.bg-custom-scrollbar::-webkit-scrollbar-thumb {
    min-height: 24px;
    background: transparent;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 6px;
}

.bg-custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background: var(--gray-4);
    background-clip: content-box;
}

.bg-custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: var(--gray-4);
    background-clip: padding-box;
    border: 2px solid transparent;
}
