.@{prefix}-toggle-button-group {
    &-item{
        font-weight: @font-weight-regular!important;
        line-height: @font-size-2!important;

        &__active {
            font-weight: @font-weight-medium!important;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 2px 6px 6px rgba(0, 0, 0, 0.02), 0 2px 6px 0 rgba(0, 0, 0, 0.02);
        }
    }
}