@import url('@milesight/shared/src/styles/index.less');
@import url('./mui-polyfill.less');

html {
    font-family: @font-family;
}

body {
    background-color: var(--body-background);
    .text-size(@font-size-base);
}

// ---------- Layout ----------
.@{prefix}-layout {
    display: flex;
    height: 100vh;
    min-height: 0;

    &-left {
        flex-shrink: 0;
        width: 240px;
    }

    &-right {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 0;
        height: 100%;
        background-color: var(--body-background);
    }
}

.@{prefix}-main {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .@{prefix}-view {
        flex: 1;
        height: 0;
        // padding: @padding-lg;

        > .@{prefix}-view__inner {
            height: 100%;
            background-color: var(--component-background);
            border-radius: @border-radius-base;
        }
    }
}

.@{prefix}-main-blank {
    flex: 1;
}

// ---------- Custom Tabs ----------
.@{prefix}-tabs {
    &.@{mui-prefix}Tabs-root {
        height: 56px;
        min-height: 44px;
        padding-top: @padding-xs;
        background-color: var(--component-background);
    }

    .@{mui-prefix}Tabs-flexContainer {
        padding: 0 20px;
        background-color: var(--component-background);
        border-bottom: 1px solid var(--border-color-base);
    }

    .@{mui-prefix}Tab-root {
        min-width: auto;
        min-height: 24px;
        padding: @padding-xs @padding-md (@padding-md - 1);
        margin-right: 0;
        font-weight: @font-weight-base;
        color: var(--text-color-secondary);
        border: 1px solid transparent;
        border-bottom: none;
        .text-size(@font-size-lg);

        &.@{mui-prefix}-selected {
            font-weight: @font-weight-medium;
            color: var(--text-color-base);
            background-color: var(--body-background);
            border-color: var(--border-color-base);
            border-radius: @border-radius-base @border-radius-base 0 0;
        }

        &:not(.@{mui-prefix}-selected):hover {
            color: var(--text-color-main);
        }
    }

    .@{mui-prefix}Tabs-scrollButtons {
        height: 40px;
        margin-top: 1px;
        color: var(--text-color-secondary);
    }

    .@{mui-prefix}Tabs-indicator {
        bottom: -1px;
        background-color: var(--body-background);
        transition: none;
    }
}

// ---------- Custom Icon ----------
.@{prefix}-icon {
    fill: currentcolor;
}

// ---------- Custom ToggleButtonGroup ----------
.@{prefix}-toggle-button-group {
    .@{mui-prefix}ButtonBase-root {
        text-transform: none;
    }

    &.@{mui-prefix}ToggleButtonGroup-horizontal {
        background-color: var(--gray-color-2);
        border: 2px solid var(--gray-color-2);

        .@{mui-prefix}ToggleButtonGroup-grouped {
            display: inline-block;
            padding-right: @padding-sm;
            padding-left: @padding-sm;
            border: none;
            border-radius: @border-radius-base;
            .text-size(@font-size-base);

            &::after {
                display: block;
                height: 1px;
                margin-bottom: -1px;
                overflow: hidden;
                font-weight: @font-weight-medium;
                visibility: hidden;
                content: attr(aria-label);
            }

            &.@{mui-prefix}-selected {
                font-weight: @font-weight-medium;
                background-color: var(--component-background);

                &.@{mui-prefix}-disabled {
                    color: var(--text-color-secondary);
                }
            }
        }
    }
}
