.@{prefix}-param-assign-input {
    &-item {
        display: flex;
        gap: @margin-xs;
        align-items: center;
        margin-bottom: @margin-md;

        .@{mui-prefix}FormControl-root {
            margin: 0;
        }

        > .@{prefix}-param-input-select,
        > .@{mui-prefix}FormControl-root {
            flex: 1;
        }
    }
}